{% extends 'base.html.twig' %}

{% block title %}Hello TutoController!{% endblock %}

{% block body %}
 
      
            <h1>{{tuto.name}}</h1>
            <p>{{tuto.description}}</p>
      

     
 
{% endblock %}
